html,
body,
#root {
	height: 100%;
}

body {
	color: #6d758e;
	font-family: "proxima-nova", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 160%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}
