@import 'variables';

html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-body-family;
	font-size: $font-body-size;
	font-weight: $font-body-weight;
	font-style: $font-body-style;
	line-height: $font-body-line-height;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
