@import 'variables';

.wa-modal-container {
	background-color: rgba(50, 50, 50, 0.5);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all $transition-duration $transition-timing;
	z-index: $modal-zIndex;

	&.wa-modal-enter-done {
		opacity: 1;
	}
}

.wa-modal {
	background-color: #fff;
	color: #000;
	margin: 100px auto;
	max-width: 500px;
	min-width: 300px;
	opacity: 0;
	padding: 30px 40px;
	position: relative;
	transform: translateY(30px) scale(0.9);
	transition: all $transition-duration $transition-timing;
	width: 90%;
	z-index: $modal-zIndex + 1;

	.wa-modal-enter-done & {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

	@media all and (max-width: 689px) {
		padding: 20px;
	}
}
