@import 'variables';

html,
body,
#root {
	height: 100%;
}

body {
	font-family: $font-body-family;
	font-size: $font-body-size;
	font-style: $font-body-style;
	font-weight: $font-body-weight;
	line-height: $font-body-line-height;
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	* {
		box-sizing: border-box;
	}
}

.wikiroulette {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.wr-button {
	background: none;
	border: 3px solid transparent;
	border-radius: $button-border-radius;
	color: $color-base-primary;
	cursor: pointer;
	margin: 0;
	padding: $button-padding;
	transition: all $transition-duration $transition-timing;
	vertical-align: middle;

	&:hover {
		background-color: lighten($color-base-primary, 85%);
	}

	&[disabled] {
		opacity: 0.3;

		&:hover {
			border-color: transparent;
		}
	}

	.material-icons {
		font-size: 40px;
		vertical-align: middle;
	}
}

#shortcuts {
	height: 100%;
	margin: 0;
	overflow: auto;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
