@import 'variables';

.wa {
	background-color: $color-base-secondary;
	border-radius: $article-border-radius;
	color: $color-base-primary;
	margin: 0 auto;
	padding: $article-padding;
	position: relative;
	transition: all $transition-duration $transition-timing;
	width: $article-width;

	&.style-0 {
		background-color: $color-highlight-1-secondary;
		color: $color-highlight-1-primary;
	}

	&.style-1 {
		background-color: $color-highlight-2-secondary;
		color: $color-highlight-2-primary;
	}

	&.style-2 {
		background-color: $color-highlight-3-secondary;
		color: $color-highlight-3-primary;
	}
}

.wa-header {
	min-height: $article-image-size;
	position: relative;

	&.has-image {
		padding-left: $article-image-size + $article-image-margin;
	}
}

.wa-img {
	background: center 5% / cover no-repeat #194ba6;
	border-radius: $article-image-border-radius;
	height: $article-image-size;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all $transition-duration $transition-timing;
	width: $article-image-size;
	z-index: 1;

	&:hover {
		border-radius: 2px;
		transform: translateY(-50%) scale(3);
	}
}

.wa-header-content {
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	.has-image & {
		left: $article-image-size + $article-image-margin;
	}
}

.wa-title {
	font-size: $font-header-2-size;
	font-weight: $font-header-2-weight;
	line-height: $font-header-2-line-height;
	margin: 0;
	padding: 0;
}

.wa-description {
	font-size: $font-header-3-size;
	font-weight: $font-header-3-weight;
	margin: 0;
	padding: 0;

	.wa-title + & {
		margin-top: 2px;
	}
}
